<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--This prevent's rebuilding every package all de time due to compile variables changing-->
	<!--I don't really know how it works ow why does it wor, but it does ¯\_(ツ)_/¯-->
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>